.Header {
  font-family: sans-serif;
  text-align: center;
  margin: 40px;
}

.split {
  display: grid;
  margin: 15px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100vh auto;
}

.component-container {
  margin: 5px;
  height: 100%;
  display: grid;
  grid-gap: 5px;
}

span {
  align-self: center;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  grid-template-columns: 1fr 1fr;
}


.ant-form-item {
  margin-bottom: 0px !important;
}